.section.available-facilities .default-content-wrapper >h2{
    margin-bottom: 24px;
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}
.section.available-facilities .columns-wrapper .columns{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 11pc;
    
}
.section.available-facilities .columns-wrapper .columns >div >div >h2{
    color: #333;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 28px;
    padding-bottom: 16px;
}
.section.available-facilities .columns-wrapper .columns >div >div >p{
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
    .section.available-facilities .columns-wrapper .columns{
        row-gap: 24px;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
    .section.available-facilities .columns-wrapper .columns >div >div >h2{
        color: #333;
        font-family: Nunito-Bold, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        padding-bottom: 9pt;
    }
    .section.available-facilities .columns-wrapper .columns >div >div >p{
        font-size: 0.875rem;
        line-height: 20px;
    }
}

@media screen and (max-width: 767px) {

    .section.available-facilities .default-content-wrapper >h2{
        font-size: 1.25rem;
        line-height: 28px;
        padding-bottom: 4px;
    }
}
