.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section.view-more-btn .default-content-wrapper{
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  gap: 4px;
  text-align: center;
  margin-top: 1pc;
}

.section.view-more-btn .default-content-wrapper .button-container a::after{
  content: '';
  position: absolute;
  background: url('/content/dam/piramalfinance/product-page/business-loan/arrow-up.svg');
  height: 8px;
  transform: rotate(180deg);
  width: 16px;
  background-size: 100%;
  top: 15px;
  right:0;
}
.section.view-more-btn .default-content-wrapper .button-container a.view-less-more-column::after {
  transform: rotate(0deg);
}
.section.view-more-btn .default-content-wrapper .button-container a{
   background-color: transparent;
    margin-top: 1pc;
    color: #f26841;
    font-family: Nunito-Bold, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 20px;
    margin: 16px 0 0 0;
    position: relative;
}

@media screen and (max-width:767px) {
  .section.view-more-btn .default-content-wrapper{
    margin-top: unset;
  }
}