.personal-loan-green-banner .teaserv2-wrapper{
    margin: 0 auto;
    max-width: 1240px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.personal-loan-green-banner .teaserv2.block a .bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-position: 100% !important;
    border-radius: 16px;
    display: flex;
    height: 100%;
    min-height: 188px;
    padding: 16px;
    
}
.personal-loan-green-banner .teaserv2.block a:hover{
text-decoration: none;
}

.personal-loan-green-banner .teaserv2.block .rte-text-description p{
    color: #277742;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 38px;
    padding-left: 31px;
    width: 80%;
}


.personal-loan-green-banner .teaserv2.block .rte-text-description p b,.personal-loan-green-banner .teaserv2.block .rte-text-description p strong{
    color: #277742;
    font-family: Nunito-Bold, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38px;
}


@media screen and (max-width:767px) {
    .personal-loan-green-banner .teaserv2.block .rte-text-description p{
        font-size: 0.875rem;
        line-height: 20px;
        padding-left: unset;
        width: 72%;
     
    }

    .personal-loan-green-banner .teaserv2-wrapper{
      padding: 0px 16px;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .personal-loan-green-banner .teaserv2.block a .bg-image{
        
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 96px;
    padding: 8px 16px;
    }

    .personal-loan-green-banner .teaserv2.block .rte-text-description p b,.personal-loan-green-banner .teaserv2.block .rte-text-description p strong{
        font-size: 0.875rem;
        line-height: 20px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .personal-loan-green-banner .teaserv2.block .rte-text-description p {
        width: 77%;
    }
}