.section.risk-gradation .default-content-wrapper #risk-gradation strong {
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 8px;
}

.section.risk-gradation .default-content-wrapper>p {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
}

.section.risk-gradation .default-content-wrapper>ul>li::marker {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
}

.section.risk-gradation .default-content-wrapper>ul>li>p {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
}

.section.risk-gradation .default-content-wrapper>ul {
    list-style-type: disc;
    margin-left: 24px;
    margin-top: 16px;
}

.section.risk-gradation .default-content-wrapper>ul>li{
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
    padding: 5px 0;
}

.section.risk-gradation>.default-content-wrapper {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .87);
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 4pc);
    max-width: 60pc;
    overflow-y: scroll;
    /* position: fixed; */
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1) 0ms;
    width: calc(100% - 4pc);
    z-index: 1001;
    padding: 40px 77px 12px 91px;
    position: relative;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.section.risk-gradation {
    align-items: center;
    /* display: flex; */
    height: 100%;
    justify-content: center;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 1;
    /* position: fixed; */
    top: 0;
    transition: opacity 225ms cubic-bezier(.4, 0, .2, 1) 0ms;
    /* visibility: hidden; */
    width: 100%;
    z-index: 1210;
}

.section.risk-gradation .default-content-wrapper>p>em {
    content: '';
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-size: 100%;
    top: 16px;
    right: 24px;
    position: absolute;
    background-image: url('https://publish-p133703-e1305981.adobeaemcloud.com//content/dam/piramalfinance/company/about-us/partnership/close.png');
}

@media screen and (max-width:767px) {
    .section.risk-gradation>.default-content-wrapper {
        padding: 46px 16px 16px 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        transform: unset;
        left: unset;
        top: auto;
        translate: unset;
        bottom: 0;
        max-height: 92vh;
        position: fixed;
    }

    .section.risk-gradation .default-content-wrapper #risk-gradation strong {
        font-size: 1.125rem;
        line-height: 24px;
    }

    .section.risk-gradation .default-content-wrapper>p {
        font-size: 0.875rem;
        line-height: 20px;
    }

    .section.risk-gradation .default-content-wrapper>ul {
        margin-top: 0;
    }

    .section.risk-gradation .default-content-wrapper>ul>li>p {
        font-size: 0.875rem;
        line-height: 20px;
        padding: 0;
    }

    .section.risk-gradation .default-content-wrapper>ul>li::marker {
        font-size: 0.875rem;
        line-height: 24px;
    }

    .section.risk-gradation .default-content-wrapper>p>em {
        top: 22px;
    }

    .section.risk-gradation .default-content-wrapper::after {
        position: absolute;
        background-color: #c4c4c4;
        border-radius: 6px;
        content: "";
        display: block;
        height: 6px;
        left: 50%;
        margin: 8px auto auto;
        position: absolute;
        top: 0;
        transform: translate(-50%);
        width: 30px;
    }

    /* .section.risk-gradation.overlay{ */
    /* transform: translateY(100%);
    }
    .section.risk-gradation{
        transform: translateY(100%);
        transition: transform 225ms cubic-bezier(0,0,.2,1) 0ms, -webkit-transform 225ms cubic-bezier(0,0,.2,1) 0ms;
    } */
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .section.risk-gradation>.default-content-wrapper {
        padding: 40px 16px 12px;
    }

    .section.risk-gradation .default-content-wrapper>p>em {
        right: 24px;
        top: 16px;
    }
}