.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a{
    text-decoration: none;
}
.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image {
    display: block;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage {
    width: 80%;
}

.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>h1 .title strong {
    color: #fff;
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 16px;
}

.section.corporate-financing-banner-wrapper .rte-text-description {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 120px 0 158px;
}
.section.corporate-financing-banner-wrapper .rte-text-description > h1 {
    color: #fff;
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 3rem;
    line-height: 60px;
    margin-bottom: 16px;
    width: 80%;
}
.section.corporate-financing-banner-wrapper .rte-text-description > p{
    color: #fff;
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    width: 60%;
}
@media screen and (max-width: 1400px) {
    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description {
        max-width: 76.1%;
    }
}

@media screen and (max-width:1024px) {
    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage {
        width: 100%;
    }

    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>p .title {
        width: unset;
    }
    .section.corporate-financing-banner-wrapper .rte-text-description{
        padding: 90px 16px 10pc;
        width: 100%;
    }
    .section.corporate-financing-banner-wrapper .rte-text-description > h1,
    .section.corporate-financing-banner-wrapper .rte-text-description > p {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>h1 .title strong {
        font-size: 1.5rem;
        line-height: 32px;
    }

    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>p .title {
        font-size: 0.875rem;
        line-height: 20px;
    }
    .section.corporate-financing-banner-wrapper .rte-text-description > h1{
        font-size: 1.5rem;
        line-height: 2pc;
    }
    .section.corporate-financing-banner-wrapper .rte-text-description > p{
        font-size: 0.875rem;
        line-height: 20px;
    }
    .section.corporate-financing-banner-wrapper .rte-text-description{
        max-width: unset;
    }
}

@media screen and (max-width:1366px) {
    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>p .title {
        width: 85%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1300px){
    .section.corporate-financing-banner-wrapper .rte-text-description{
        width: 81.25%;
        padding: 100px 0 70px;
    }
    .section.corporate-financing-banner-wrapper .rte-text-description >h1{
        width: 80%;
    }
    .section.corporate-financing-banner-wrapper .rte-text-description > p{
        width: 69.28%;
    }
}