.section.knowledge-card-carousel .carousel-wrapper {
    position: relative;
}
.section.knowledge-card-carousel .carousel .panel-container .teaser{
    height: 100%;
    position: relative;
    max-width: 340px;
    width: 100%;
    margin-right: 20px;
    flex-shrink: 0;
    scroll-snap-align: start;
    height: auto;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .front-picture picture img{
    height: 72px;
    width: 72px;
    position: absolute;
    top: 15%;
    left: 10%;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .foreground{
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 16px;
    min-height: 270px;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .long-description {
    display: flex;
    align-items: start;
    flex-direction: column;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .long-description p{
    color: #333;
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .long-description p strong{
    color: #000;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}
.section.knowledge-card-carousel .primary.block>.carousel-navigation-buttons{
    display: block
}
.section.knowledge-card-carousel .default-content-wrapper #piramal-values{
    color: #000;
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
    margin: 20px 24px;
}
.section.knowledge-card-carousel .teaser.block > .background{
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: unset;
    display: flex;
    flex-direction: column-reverse;
    min-height: 446px;
    height: 100%;
    justify-content: end;
}
.carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .cta{
    position: absolute;
    top: 19%;
    left: 37%;
}
.carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .cta {
    width: 9pc;
}
.carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .cta a{
    margin: unset;
    background-color: #365069;
    border-radius: 67px;
    color: #fff;
    cursor: default;
    display: block;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1.25rem;
    line-height: 28px;
    text-align: center;
    padding: 10px 16px;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-prev  div div picture img,
.section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-next div div picture img{
    height: 40px;
    width: 40px;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-prev,
.section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-next{
    background: unset;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-prev{
    position: absolute;
    left: -5%;
    top: 40%;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-next{
    position: absolute;
    right: -5%;
    top: 40%;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel{
    position: unset;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .button-container{
    display: none;
}
@media (max-width: 767px) {
    .section.knowledge-card-carousel .carousel-wrapper .carousel .button-container{
        /* display: block; */
        display: flex;
    }   
    .section.knowledge-card-carousel .carousel.block>.button-container button{
        width: 4px;
        height: 4px;
        margin: 0 4px;
        border-radius: 50%;
        background: #000;
        opacity: .2;
    }
    .section.knowledge-card-carousel .carousel.block>.button-container button.active{
        background-color: #000;
        border-radius: 4px;
        height: 4px;
        width: 16px;    
        opacity: 1;
    }
    .section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-prev,
    .section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-next{
        display: none;
    }
    .section.knowledge-card-carousel .default-content-wrapper #piramal-values{
        font-size: 1.25rem;
        line-height: 28px;
        padding-bottom: 4px;
        margin: 20px 0;
    }
    .carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .cta a {
        font-size: 1rem;
    }
    .carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .cta {
        left: 125px;
    }
    .section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser {
        max-width: unset;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .section.knowledge-card-carousel .carousel .panel-container .teaser {
        max-width: 328px;
    }
    .section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container {
        margin: 0 30px;
    }
    .section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-prev{
        left: 2px;
    }
    .section.knowledge-card-carousel .carousel-wrapper .carousel-navigation-buttons .glider-next{
        right: 2px;
    }
}