/* legal banner css start */
.section.legal-banner-wrapper .teaser-wrapper .teaser .background {
    margin-top: 40px;
    padding-bottom: 26px;
}

.section.legal-banner-wrapper .teaser-wrapper .teaser .background .foreground {
    margin: 0;
}

.section.legal-banner-wrapper .teaser-wrapper .teaser .background .foreground .text .title h2 {
    color: #333;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 3rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .section.legal-banner-wrapper .teaser-wrapper .teaser .background {
        margin-top: 24px;
        padding-bottom: 26px;
        padding-top: 0;
    }

    .section.legal-banner-wrapper .teaser-wrapper .teaser .background .front-picture {
        max-width: unset;
        width: auto;
    }

    .section.legal-banner-wrapper .teaser-wrapper .teaser .background .front-picture > picture > img {
        display: block;
        height: 52px;
        width: 52px;
    }

    .section.legal-banner-wrapper .teaser-wrapper .teaser .background .foreground .text .title h2 {
        font-size: 1.5rem;
        line-height: 36px;
    }
}
/* legal banner css end */


/* legal privacy policy css start */
.section.legal-privacy-policy-wrapper .default-content-wrapper h4 {
    color: var(--orange);
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 42px;
    margin: 24px 0; 
}

.section.legal-privacy-policy-wrapper .default-content-wrapper p,
.section.legal-privacy-policy-wrapper .default-content-wrapper h6 {
    color: #333;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 7px;
    padding: 0 32px;
}

.section.legal-privacy-policy-wrapper .default-content-wrapper h6 {
    margin-top: 16px;
    text-decoration: underline;
}

.section.legal-privacy-policy-wrapper .default-content-wrapper ul {
    list-style: none;
}

.section.legal-privacy-policy-wrapper .default-content-wrapper ul li{
    color: #333;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding: 5px 32px;
}

.section.legal-privacy-policy-wrapper .default-content-wrapper ul li::before{
    background-color: #364754;
    border-radius: 50%;
    content: "";
    display: inline-table;
    height: 8px;
    margin-right: 10px;
    margin-top: 7px;
    vertical-align: top;
    width: 8px;
}

.section.legal-privacy-policy-wrapper .default-content-wrapper p a{
    color: var(--orange);
    text-decoration: none;
}



@media screen and (max-width:1024px) {
    .section.legal-privacy-policy-wrapper .default-content-wrapper p {
        padding: 0 16px;
    }
    .section.legal-privacy-policy-wrapper .default-content-wrapper ul li{
        padding: 5px 16px;
    }
    .section.legal-privacy-policy-wrapper .default-content-wrapper h6 {
        padding: 0 16px;
    }
}
/* legal privacy policy css end */

/* legal disclaimer css start */
.section.legal-disclaimer-wrapper .default-content-wrapper ul li {
    padding: 5px 0;
}

.section.legal-disclaimer-wrapper .default-content-wrapper p {
    padding: 0;
}

.section.legal-disclaimer-wrapper .default-content-wrapper ul li a{
    color: var(--orange);
    text-decoration: none;
}
/* legal disclaimer css end */


/* legal website usage css start */
.section.legal-website-usage-wrapper .default-content-wrapper p strong,
.section.legal-website-usage-wrapper .default-content-wrapper ul li strong {
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}
/* legal website usage css end */

/* legal whatsapp terms and conditions css start */
.section.whatsapp-terms-conditions-wrapper .default-content-wrapper p {
    padding: 0 32px;;
}

.section.whatsapp-terms-conditions-wrapper .default-content-wrapper ul li {
    padding: 5px 32px;
}

@media screen and (max-width:1024px) {
    .section.whatsapp-terms-conditions-wrapper .default-content-wrapper p {
        padding: 0 16px;;
    }
    .section.whatsapp-terms-conditions-wrapper .default-content-wrapper ul li {
        padding: 5px 16px;
    }
}
/* legal whatsapp terms and conditions css end */