/* tab with cards css start  */
.section.tab-with-cards-wrapper .default-content-wrapper>h4 {
    color: var(--black);
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 8px;
}

.section.tab-with-cards-wrapper .default-content-wrapper>p {
    color: var(--gradient-gray);
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 8px;
}

.section.tab-with-cards-wrapper .tab-name-wrapper .tab-name.block .carousel-inner {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.section.tab-with-cards-wrapper .tab-name-wrapper .tab-name.block .carousel-inner>div {
    border-bottom: unset;
    border-right: 1px solid var(--zinc);
    color: var(--black);
    font-family: "Nunito-Bold", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    padding: 0 24px;
    cursor: pointer;
}

.section.tab-with-cards-wrapper .tab-name-wrapper .tab-name.block .carousel-inner>div:last-child {
    border-right: none;
}

.section.tab-with-cards-wrapper .tab-name-wrapper .tab-name.block .carousel-inner div:first-child {
    padding-left: 0;
}

.section.tab-with-cards-wrapper .tab-name-wrapper .tab-name.block .carousel-inner>div.active {
    color: var(--orange);
}

.section.tab-with-cards-wrapper .panel-container,
.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
    gap: 24px;
}

.section.tab-with-cards-wrapper .panel-container .teaser.block.card-full-width,
.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block.card-full-width,
.section.tab-with-cards-wrapper.corporate-last-card-fw .wrappercreation-wrapper .wrapper-creation-container .teaser-wrapper:last-child {
    grid-column: span 2;
}

.section.tab-with-cards-wrapper .panel-container .teaser.block .background,
.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background {
    background-position: right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    position: unset;
}

.section.tab-with-cards-wrapper .panel-container .teaser.block .background>.foreground .text,
.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 250px;
    padding: 38px 32px;
    width: 100%;
}

.section.tab-with-cards-wrapper .panel-container .teaser.block .background>.foreground .text .title>h3,
.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .title>h3 {
    color: var(--white);
    display: block;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 9px;
}

.section.tab-with-cards-wrapper .panel-container .teaser.block .background>.foreground .text .long-description>p,
.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .long-description>p,
.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .long-description>p>a>sub {
    color: var(--white);
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
}

.section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .long-description>p>a>sub {
    display: inline;
    text-decoration: underline;
}

@media screen and (max-width:900px) {

    .section.tab-with-cards-wrapper .panel-container,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container {
        grid-template-columns: 1fr;
        margin-top: 20px;
        gap: 16px;
    }

    .section.tab-with-cards-wrapper .panel-container .teaser.block.card-full-width,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block.card-full-width,
    .section.tab-with-cards-wrapper.corporate-last-card-fw .wrappercreation-wrapper .wrapper-creation-container .teaser-wrapper:last-child {
        grid-column: span 1;
    }
}

@media screen and (max-width:767px) {
    .section.tab-with-cards-wrapper .default-content-wrapper>h4 {
        font-size: 1.25rem;
        line-height: 28px;
        margin-bottom: 4px;
    }

    .section.tab-with-cards-wrapper .default-content-wrapper>p {
        font-size: 0.875rem;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .section.tab-with-cards-wrapper .tab-name-wrapper .tab-name.block .carousel-inner>div {
        padding: 0 12px;
    }

    .section.tab-with-cards-wrapper .panel-container .teaser.block.card-full-width,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block.card-full-width,
    .section.tab-with-cards-wrapper.corporate-last-card-fw .wrappercreation-wrapper .wrapper-creation-container .teaser-wrapper:last-child {
        grid-column: span 1;
    }

    .section.tab-with-cards-wrapper .panel-container .teaser.block .background>.foreground .text,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text {
        min-height: 220px;
        padding: 16px;
    }

    .section.tab-with-cards-wrapper .panel-container .teaser.block .background>.foreground .text .title>h3,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .title>h3 {
        font-size: 1rem;
        line-height: 24px;
    }
}

@media screen and (max-width:1024px) {
    .section.tab-with-cards-wrapper.teaser-container {
        padding: unset;
    }
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .long-description>p>br {
        display: none;
    }
    .section.tab-with-cards-wrapper .panel-container .teaser.block .background>.foreground .text .long-description>p,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .long-description>p,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .long-description>p>a>sub {
        font-size: 0.75rem;
        line-height: 16px;
    }
}

@media only screen and (max-width: 425px) {
    .section.tab-with-cards-wrapper .panel-container .teaser.block .background>.foreground .text .long-description>p>br ,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block .background>.foreground .text .long-description>p>br {
        display: none;
    }
}

@media screen and (min-width:900px) and (max-width:1024px) {

    .section.tab-with-cards-wrapper .panel-container .teaser.block.card-full-width,
    .section.tab-with-cards-wrapper .wrappercreation-wrapper .wrapper-creation-container .teaser.block.card-full-width {
        grid-column: span 1;
    }
}

/* tab with cards css end  */


/* we care cards css start  */

.section.we-care-card-wrapper .default-content-wrapper>h4 {
    margin: 0;
    padding-bottom: 8px;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container {
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    margin-top: 28px;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser {
    position: relative;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:first-child {
    grid-column: span 4 / span 4;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(2) {
    grid-column: span 3 / span 3;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(3) {
    grid-column: span 3 / span 3;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(4) {
    grid-column: span 3 / span 3;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(5) {
    grid-column: span 3 / span 3;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(6) {
    grid-column: span 4 / span 4;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser{
    border-radius: 30px;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background {
    height: 200px;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background .foreground {
    bottom: 30px;
    left: 24px;
    position: absolute;
    right: 24px;
    z-index: 1;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background .foreground .text {
    padding: 0;
    min-height: unset;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background .foreground .text .title h3 {
    font-family: Nunito-Extrabold, sans-serif;
    font-weight: 800;
    margin: 0;
}

.section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background .foreground .text .long-description p {
    color: var(--white);
    font-family: Nunito-Extralight, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 24px;
}

.section.we-care-card-wrapper.teaser-container {
    padding: 0;
}

@media screen and (max-width: 767px) {
    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container {
        gap: 16px;
    }

    .section.we-care-card-wrapper .default-content-wrapper>h4 {
        padding-bottom: 4px;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container {
        margin-top: 24px;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:first-child {
        grid-column: span 10 / span 10;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(2) {
        grid-column: span 10 / span 10;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(3) {
        grid-column: span 10 / span 10;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(4) {
        grid-column: span 10 / span 10;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(5) {
        grid-column: span 10 / span 10;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(6) {
        grid-column: span 10 / span 10;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background {
        height: 196px;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background .foreground {
        bottom: 32px;
        left: 12px;
        right: 12px;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background .foreground .text .title h3 {
        color: var(--white);
        font-family: Nunito-Extrabold, sans-serif;
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 28px;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background .foreground .text .long-description p {
        color: var(--white);
        font-family: Nunito-Extralight, sans-serif;
        font-size: 1rem;
        font-weight: 200;
        line-height: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container {
        gap: 16px;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:first-child {
        grid-column: span 5 / span 5;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(2) {
        grid-column: span 5 / span 5;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(3) {
        grid-column: span 5 / span 5;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(4) {
        grid-column: span 5 / span 5;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(5) {
        grid-column: span 5 / span 5;
    }

    .section.we-care-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(6) {
        grid-column: span 5 / span 5;
    }
}

/* we care cards css end  */


/* our work culture card css start  */

.section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:first-child {
    grid-column: span 4 / span 4;
}

.section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(2) {
    grid-column: span 6 / span 6;
}

.section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(3) {
    grid-column: span 7 / span 7;
}

.section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(4) {
    grid-column: span 3 / span 3;
}

.section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background {
    border-radius: 20px;
    height: 324px;
    overflow: unset;
    width: 100%;
}

.section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser {
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:first-child {
        grid-column: span 12 / span 12;
    }
    
    .section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(2) {
        grid-column: span 12 / span 12;
    }
    
    .section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(3) {
        grid-column: span 12 / span 12;
    }
    
    .section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper:nth-child(4) {
        grid-column: span 12 / span 12;
    }

    .section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background {
       height: 196px;
       border-radius: 12px;
    }

    .section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser {
        border-radius: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section.our-work-culture-card-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaser-wrapper .teaser .background {
        height: 15pc;
     }
}

/* our work culture card css end  */