/* Director Banner Start*/
.section.teaser-container-about-us.teaser-container{
    padding: 0;
}

.section.teaser-container-about-us {
    padding: 0;
    margin: 0 !important;
    background-color: #365069;
}

.section.teaser-container-about-us .teaser-wrapper {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
}

.section.teaser-container-about-us .teaser-wrapper .teaser {
    overflow: unset;
    padding-top: 49px;
    min-height: 485px;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .front-picture {
    height: 365px;
    width: 440px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .front-picture picture img {
    height: 365px;
    width: 440px;
    display: block;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .foreground {
    display: block;
    min-height: 485px;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text {
    padding: 130px 0;
    justify-content: center;
    max-width: 640px;
    width: 100%;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .long-description {
    margin-bottom: 32px;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .long-description>p {
    color: #fff;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .short-description p {
    font-size: 1rem;
    color: var(--white);
}

.section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .short-description {
    display: block;
}

.section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .short-description p strong {
    font-size: 1.5rem;
    display: block;
    font-family: ' Nunito-Bold', sans-serif;
    margin-bottom: 20px;
}

@media screen and (max-width:767px) {
    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text {
        max-width: 97%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text {
        max-width: 318px;
    }
}

@media screen and (max-width:1024px) {
    .section.teaser-container-about-us .teaser-wrapper {
        max-width: 100%;
        padding: 0 16px;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser {
        min-height: 400px;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground {
        min-height: auto;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text {
        padding: 48px 0 190px;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .long-description {
        margin-bottom: 16px;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .front-picture {
        right: 20px;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .long-description,
    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .short-description {
        display: block;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .long-description>p {
        font-size: 0.875rem;
        line-height: 20px;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .short-description p strong {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .foreground .text .short-description p {
        font-size: 0.875rem;
    }

    .section.teaser-container-about-us .teaser-wrapper .teaser .front-picture,
    .section.teaser-container-about-us .teaser-wrapper .teaser .front-picture picture img {
        height: 170px;
        width: 200px;
    }
}
/* Director Banner End*/

/* About us Buttons Start */
.section.about-us-buttons .default-content-wrapper {
    display: flex;
    column-gap: 54px;
    row-gap: 10px;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
    margin-top: 32px !important;
}

.section.about-us-buttons .default-content-wrapper p {
    margin: 0;
    border: 1px solid #333;
    border-radius: 50px;
    position: relative;
}

.section.about-us-buttons .default-content-wrapper p::after {
    border-radius: 1px;
    border-right: 2px solid #ccc;
    content: "";
    height: 22px;
    position: absolute;
    right: -24px;
    top: 26%;
    width: 2px;
}

.section.about-us-buttons .default-content-wrapper p:last-child::after {
    display: none;
}

.section.about-us-buttons .default-content-wrapper p a {
    display: block;
    text-align: center;
    background: transparent;
    margin: 0;
    color: #333;
    font-family: 'Nunito-Bold', sans-serif;
    padding: 8px 16px 7px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    border: 0;
}

.section.about-us-buttons .default-content-wrapper p a:active {
    background-color: #365069;
    color: #fff;
}

/* About us Buttons End */