.section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 {
    position: relative;
    padding: 40px 40px 24px;
}

.section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .front-image {
    height: 126px;
    width: 100%;
}

.section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .front-image > picture > img {
    height: 124px;
    width: 124px;
}

.section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a:hover {
    text-decoration: none;
    color: unset;
}

.section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .title {
    color: var(--orange);
    font-family: Nunito-Bold, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    left: 190px;
    line-height: 40px;
    position: absolute;
    top: 65px;
}

.section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .description {
    color: rgba(0, 0, 0, .871);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    left: 190px;
    line-height: 28px;
    position: absolute;
    top: 118px;
}

.section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p {
    color: rgba(0, 0, 0, .871);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin: 16px 0;
}

@media screen and (max-width: 767px) {
    .section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 {
        padding: 40px 16px 24px;
    }

    .section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .front-image {
        height: 100px;
    }

    .section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .front-image > picture > img {
        height: 100px;
        width: 100px;
    }

    .section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .title {
        font-size: 1rem;
        left: 130px;
        line-height: 24px;
        top: 70px;
    }

    .section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .description {
        font-size: 0.875rem;
        left: 130px;
        line-height: 20px;
        top: 75pt;
    }

    .section.piramal-group-ajay-info .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p {
        font-size: 0.875rem;
        line-height: 20px;
    }
}